<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ingresar</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label>
          <center>
          <p>
          Universidad Católica Boliviana<br>
          "San Pablo"<br>
          Regional Cochabamba
          </p>
          </center>
        </label>
      
        <label class="item item-input">
          <input type="text" ng-model="loginData.username" placeholder="Usuario SIAA">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="loginData.password" placeholder="Clave SIAA">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Ingresar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
